.user-comments {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
}

.new-comment {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid slategray;
    padding-top: 25px;
}

.add-comment {
    width: 90%;
    height: 25px;
    border: none;
}