.search-bar {
    width: 75%;
    margin: 0 auto 2.5rem;
    display: flex;
    justify-content: space-around;

}

.icon {
    margin-left: 1.5rem;
}

.home-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-icon-break {
    font-size: 2.5rem;
    font-weight: 100;
}

.input-search {
    width: 35%;
    height: 25px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.user-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}