.search-bar {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.header-section {
   
   
}

.icon {
    margin-left: 1.5rem;
}

.instagram-icon {
    font-size: 3.5rem;
}

.home-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchbar {
    width: 35%;
    height: 25px;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.user-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    
}