.ig-interact-section {
  margin: 5px;
  padding: 10px 10px 5px 10px;
}

.ig-interaction {
  display: flex;
  margin-bottom: 5px;
}

.ig-heart {
  margin-right: 10px;
}

.ig-post {
  width: 640px;
  /* border: 1px solid slategray; */
  margin: 0 auto;
}

.ig-header {
  display: flex;
  align-items: center;
}

.ig-post-thumbnail {
  border-radius: 50%;
  width: 8%;
}

.ig-post-username {
  margin-left: 15px;
}
